<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{ wordpress_database_name }}');

/** MySQL database username */
define('DB_USER', '{{ wordpress_mysql_root_user }}');

/** MySQL database password */
define('DB_PASSWORD', '{{ wordpress_mysql_root_password }}');

/** MySQL hostname */
define('DB_HOST', 'localhost');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8mb4');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         '.GnD+QZ[#!48Sy 2cVjzfE6s6Y?IIN}ity{k yG,XSGxnhpd@0U{oa{,$@sY_)T&');
define('SECURE_AUTH_KEY',  'D[D-s:}L1<2/ogp:0lNq.aDe8r>n/XKkIc*J=]4,:2`lE/PCb*j:&w)d@WF(MS/-');
define('LOGGED_IN_KEY',    'W@yl*%Kwut;Ik,(%%$&3-a<|K/LJ-{=WAMkfdmNdcm&wHgcV>s(#d>GH{K$#:hLo');
define('NONCE_KEY',        '}bK`5Q+FX.pWqF1f~e8}<OL94))!pkoqw:O 9LI(PmJV)b]T1dmJAl}Pi-Zf$-8s');
define('AUTH_SALT',        '}_ZVE#gLG}|wMbossy/-5A,0R`j0Rv}tpnA3#S$Kxn9pf2/bej[LvhXjqf0 C(c@');
define('SECURE_AUTH_SALT', '?+Xl%v~y2LWB}:vt}^1(Rqmg!HSa1n`ZK; ^BMo{.41r-geOuJ$yTd/[mF5`.7jB');
define('LOGGED_IN_SALT',   'II|`jvnZ w?6!LV?99jLEA;HPYy0=~^9a<{rriUc_iNgL?4r{lGA{h@{8m2KYrB!');
define('NONCE_SALT',       '_~aJMs5ilxS]N>St:BV/nDWt}fZawSiPvYV-Vi AkF=}Gv04Br5X^IeCc$Xy6N1X');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
